      <!-- Footer -->
      <div id="footer">
        <div class="container">
          <div class="row links">
              <div class="row no-collapse-1" style="width:100%;">
                <section class="4u">
                  <h3>Förvaltare</h3>
                  <ul class="links">
                    <li><a href="http://www.sbc.se">SBC</a></li>
                    <li><a href="http://www.bredablickforvaltning.se">Bredablick</a></li>
                    <li><a href="http://www.riksbyggen.se">Riksbyggen</a></li>
                  </ul>
                </section>
                <section class="4u">
                  <h3>Styrelsearbete</h3>
                  <ul class="links">
                    <li><a href="http://www.bostadsratterna.se">Bostadsrätterna</a></li>
                    <li><a href="http://www.bolagsverket.se">Bolagsverket</a></li>
                    <li><a href="https://www.verksamt.se">Verksamt.se</a></li>
                  </ul>
                </section>
                                <section class="4u">
                  <h3>Övrig service</h3>
                  <ul class="links">
                    <li><a href="http://www.malmo-gravyr.se">Malmö Gravyrverkstad</a></li>
                    <li><a href="http://www.nokas.se/Produkter-och-Tjanster/Las--och-lassystem">Nyckelservice</a></li>
                  </ul>
                </section>
              </div>
          </div>
        </div>
        <!-- Copyright -->
          <div class="copyright">
            <ul class="menu">
              <li>&copy; 2019, Brf Gråbjörnen 8</li>
              <li>Organisationsnummer: 769608-4396</li>
            </ul>
          </div>
      </div>
  </body>
</html>